* {
  color: white;
  font-family: cursive;
  text-align: center;
  background-color: blue;
}

#left:hover {
  border-color: red;
}

#center:hover {
  border-color: yellow;
}

#right:hover {
  border-color: green;
}

#Skip:hover {
  border-color:: grey;
  h2 {
    outline: 2px dashed yellow;
    margin: 25px:
  }

#Results {
  border-color: Purple;
  h2 {
    outline: 2px dashed yellow;
    margin: 25px:
  }
